body {
    background: url('../accects/imgs/img1.jpeg') no-repeat 0px 0px;
padding: 30px;
background-size: cover;
}

@font-face{
font-family:bannu;
src:url('../fonts/BebasNeue-Regular.ttf')

}
@font-face{
font-family:kanna;
src:url('../fonts/Montserrat-Bold.otf')

}
@font-face{
font-family:mahesh;
src:url('../fonts/AlfaSlabOne-Regular.ttf')

}

header {
    display: flex;
    justify-content: space-between;
}
.nav-section ul {
    display: flex;
}
ul {
    gap: 70px;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #000;
    font-family:bannu;
}
.express {
    text-align: right;
    margin-bottom: 23px;
}
.express img {
    margin-bottom: -10px;
}

secction.banner-section {
    display: flex;
    justify-content: space-between;
}
p {
    font-family: bannu;
    border: 3px dotted #440002;
    padding: 8px;
    margin: 0px;
    display: inline-block;
text-transform: uppercase;
}
h1 {
    font-family: mahesh;
    text-transform: uppercase;
    font-size: 70px;
    margin: 0px;
    letter-spacing: 5px;
}
span.week {
    font-size: 40px;
    display: flex;
}
.burger-title {
    padding-top: 85px;
}
.banner-section img {
    padding: 20px 0px;
}

.burger-price {
    background: #f00;
    color: #fff;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-border {
    border: 2px dotted #fff;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    text-align: center;
}
span.dollar {
    font-size: 50px;
}
span.cets {
    font-size: 25px;
}
span.only {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 7px;
    display: block;
}
.burger-content {
    position: relative;
}
.burger-price {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
	