@media screen and (max-width:568px){
header{

flex-direction:column;
}
.banner-section{

flex-direction:column;

}
.banner-section img {
    padding: 20px 0px;
    width: 100%;
}
img.a {
    margin-bottom: 16px;
}
.express {
    margin-bottom: 30px;
}
ul {
    font-size: 14px;
}
ul {
    gap: 45px;
    list-style: none;
    text-decoration: none;
}

.burger-price {
    background: #f00;
    color: #fff;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-border {
    border: 2px dotted #fff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
}
span.dollar {
    font-size: 25px;
}
span.cets {
    font-size: 12px;
}
span.only {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    display: block;
}
.nav-section ul {
    display: flex;
    flex-direction: column;
}

}