@media screen and (max-width:768px){
.img-h1{
flex-direction: column;
}
nav {
    padding-top: 0px;
}
.girl-img {
    width: 100%;
 margin: auto;
}
.header-yoga {
    width: 100%;
}
nav ul {
    
    gap: 41px;
    
}
.header-yoga h1 {
    font-size: 72px;
    
}

                          /*2nd se*/

.images-3 {
   
    flex-direction: column;
}
.img-set{
width:100%;
}
.img-bend{
width:100%;
}
.img-lug{
width:100%;
}

                             /*3nd se*/
.round-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.round-2,.round-3 {
    margin: 70px 0px;
}
.round-1{
margin-top: 10px;
}
section.\33 rd-section {
    background: url('../accects/imgs/3550620_23.png') 0px 0px no-repeat;
    background-size: cover;
}

                         /*4nd se*/
section.\34 th-section {
   
    flex-direction: column;
}
.heading-4th {
    width: 100%;
   
}
.img-4th {
    width: 100%;
}


                    /*5nd se*/

section.\35 th-section {
    flex-direction: column;
}
.img-5th {
    width: 100%;
padding:0px;
}
.heading-5th {
    width: 100%;
padding:0px;

}

                        /*6nd se*/

.\36 th-imgs {
    
    flex-direction: column;
    align-items: center;
}
.adv, .new, .exp {
    margin: 30px 0px;
}
.\38 th-heading {
    padding: 40px 40px;
    width: 350px;
    margin: auto;
}
.\38 th-heading h1 {
    text-transform: uppercase;
    font-family: 'bannu';
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 0px;
}

.\39 th-heading {
    flex-direction: column;
    align-items: center;
}
  
}