
@media screen and (max-width:568px){
nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 0px;
  
}
nav ul li a {
    padding-left: 30px;
}
li:hover{
background: #c7d9d5;

width: 100%;
}
button {
    margin-bottom: 50px;
}
nav {
    padding-top: 0px;
}
.header-yoga h1 {
    font-size: 76px;
    
}


}