body {
    background: url('../accects/imgs/img1.jpeg') no-repeat 0px 0px;
    background-size: cover;
}

@font-face{
font-family:bannu;
src:url('../fonts/AlfaSlabOne-Regular.ttf');
}
@font-face{
font-family:kanna;
src:url('../fonts/BebasNeue-Regular.ttf');
}
@font-face{
font-family:mahesh;
src:url('../fonts/Montserrat-Bold.otf');
}

section.top-section {
    padding: 35px;
    color: #440002;
}

hader {
    display: flex;
    justify-content: space-between;

}
nav ul {
    display: flex;
    gap: 75px;
    text-transform: uppercase;
    list-style: none;
    font-size: 22px;
}
a {
    font-family:kanna;
color:#440002;
text-decoration: none;
}
.exprss {
    font-family: mahesh;
    text-align: end;
    font-size: 16px;
}
.exprss img {
    margin-right: 10px;
}
section.body-section {
    display: flex;
    justify-content: space-between;
}
section.body-section {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
}
.burger-name p {
    text-transform: uppercase;
    font-family: 'kanna';
    letter-spacing: 3px;
    font-size: 13px;
margin: 0px;
    display: inline-block;
    border: 2px dotted #440002;
    padding: 7px;
}
.burger-name h1 {
    font-size: 90px;
    font-family: 'bannu';
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 5px;
    text-shadow: 4px 4px white;
}
.burger-name h1 span {
    display: block;
    margin-top: -25px;
    font-size: 49px;
}
.burger-img img {
    width: 100%;
}

.total-cost {
    width: 200px;
    height: 200px;
    background: #f00;
    border-radius: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.total-span {
    color: #fff;
}
span.duller {
    font-size: 60px;
    font-family: 'bannu';
}
span.rs {
    font-size: 25px;
font-family: 'bannu';
}
span.only {
    display: block;
    font-size: 30px;
    font-family: 'kanna';
    letter-spacing: 20px;
}
.img-cost {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
section.total-right {
    position: relative;
}
.mmm {
    width: 185px;
    height: 185px;
    border: 3px dotted #fff;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
display: flex;
}