@media screen and (max-width:568px){
hader{
flex-direction: column;

}
nav ul{
flex-direction: column;
gap:32px;

}
section.body-section {
    flex-direction: column;
}
section.top-section {
    padding: 12px;
    
}
.exprss {
   
    font-size: 11px;
}

span.duller {
    font-size: 30px;
    
}
span.rs {
    font-size: 12px;

}
span.only {
    font-size: 15px;
    letter-spacing: 10px;
}

.mmm {
    width: 135px;
    height: 135px;
   
}
.total-cost {
    width: 150px;
    height: 150px;
   
}
.burger-name h1 {
    font-size: 70px;
    
}

}





@media screen and (max-width:968px){
hader{
flex-direction: column;

}

section.body-section {
    flex-direction: column;
}
section.top-section {
    padding: 12px;
    
}
.exprss {
    font-family: mahesh;
    text-align: inherit;
    font-size: 21px;
}

}

@media screen and (max-width:768px){
hader{
flex-direction: column;

}

section.body-section {
    flex-direction: column;
}
section.top-section {
    padding: 12px;
    
}
nav ul{
flex-direction: column;
gap:32px;

}
.exprss {
    font-family: mahesh;
    text-align: inherit;
    font-size: 21px;
}

}