body{
background:gray;
}
ul{
position:relative;
}
li{
display:inline-block;
}
a{
text-decoration:none;
padding: 5px;
background: indianred;
color: white;
margin: 0px;
border-radius:5px;
}
a:hover{
background:black;
color:yellow;
}
ul li ul{
position:absolute;
nargin:0px;
padding:0px;
display:none;
}
ul li ul li{
display:block;
margin:20px 2px;
}

ul li:hover ul{
display:block;
}