body {
    background-image: linear-gradient(45deg, #ef0cdc, #ef4173f2);
}
.a {
    background: #fff;
    width: 337px;
    border-radius: 7px;
    text-align: center;
    margin: 150px auto;
}
h1 {
    text-align: left;
    padding: 24px;
}
input[type="text"] {
    width: 100%;
    margin-bottom: 43px;
    border: none;
    border-bottom: 1px solid #ff00e6;
}
button {
    width: 100%;
    margin: 3px 0px;
    padding: 7px 0px;
}
.b {
    padding: 0px 36px;
}
.c{
background-image: linear-gradient(45deg, #ef0cdc, #ef4173f2);
}

.d {
    background: skyblue;

}
.e {
    background: blue;
    margin-bottom: 60px;
}
span {
    text-decoration: underline #f403db	;
}