body {
background: #00f;
}

.a {
    background: #fff;
    width: 450px;
    border-radius: 10px;
    margin: 150px auto;
    text-align: center;

}


h1 {
    margin-top: 281px;
    border-bottom: 1px solid #eee;
    padding: 15px 0PX;
}

input[type="text"] {
    margin: 0px;
    padding: 23px 0px;
    border: none;
    border-bottom: 1px solid #050404;
    width: 100%;
}
button {
    padding: 12px;
    border-radius: 39px;
    background: #00f;
    color: #fff;
    margin-bottom: 12px;
    border: 2px;
    width: 100%;
    font-size: 20px;
}
.c {
    margin-bottom: 30px;
   
    text-align: left;
}

a {
    text-decoration: none;
}
.b {
    padding: 00px 34px;
}
p.f {
    padding-bottom: 30px;
}
	