input::placeholder {
    color: #fff;
}
section.total-part {
    width: 100%;
    background: #2c4048;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.addres {
    text-align: center;
    box-sizing: border-box;
    padding: 0px 50px;
}
.hidind h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}
.addres-in-input {
    box-sizing: border-box;
}
.addres-in-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 35px;
}
.first-2input {
    width: 50%;
    box-sizing: border-box;
padding: 0px 20px;
}
.send-2input {
    width: 50%;
    box-sizing: border-box;
padding: 0px 20px;
}
.thred-2input {
    padding: 0px 20px;
}
input {
    display: block;
    margin-right: 0px;
}
input.a, .b, .c, .d, .e, .f {
    width: 100%;
    background: none;
    border: none;
   border-bottom: 1px solid #8f8f8f;
    color: #fff;
    outline: none;
    margin-bottom: 35px;
}
input.f {
    padding-bottom: 50px;
}
.place-button {
    text-align: end;
    margin-right: 15px;
}
.place-button button {
    background: #89553b;
    color: #fff;
    border: none;
    padding: 10px 30px;
}