@media screen and (max-width:768px){
.addres-in-input {
  flex-direction: column;  
}
.first-2input {
    width: 100%;
   
}
.send-2input {
    width: 100%;
   
}

}
@media screen and (max-width:568px){

section.total-part {
   
    padding: 20px;
    
}
}