body {
    background: #10f310;
    margin: 0px;
    padding: 0px;

    
}
section.a {
    width: 100%;
    background: rgb(255,0,0);
    height: 400px;
    padding: 15px;
    margin: 115px auto;
}
section.b {
    background: #000;
    width: 50%;
    height: 350px;
float: left;

}
section.c {
    background: #fff;
    width: 50%;
    height: 350px;
    float: right;
}
.m {
    border: 5px solid #00f;
box-sizing: border-box;
}