body {
    background: blueviolet;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
font-family:Poppins-SemiBold;
src:url('../fonts/Poppins-SemiBold.ttf')

}
section.total-body {
    font-family: Poppins-SemiBold;
    background: #f7f7f7;
}
.item-group{
display:flex;
flex-wrap:wrap;
}
.bannu {
    width: 33.33%;
    padding: 00px 40px;
    box-sizing: border-box;
}
h1 {
    padding-left: 68px;
    margin-bottom: 64px;
    padding-top: 22px;
}
span.e {
    display: block;
}
span.line-color {
    border-bottom: 4px solid green;
}

img {
    margin-bottom: -15px;
    margin-left: 18px;
}