@media screen and (max-width:968px){
body{
background-color:red;
}
.bannu{
width:50%;
padding: 00px 40px;
box-sizing: border-box;
}

}
@media screen and (max-width:568px){
body{
background-color:green;
}
.bannu{
width:100%;
padding: 00px 40px;
box-sizing: border-box;
}
}