body {
    background: blueviolet;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
font-family:Poppins-SemiBold;
src:url('../fonts/Poppins-SemiBold.ttf')

}
section.total-body {
    font-family: Poppins-SemiBold;
    background: #f7f7f7;
}
h1 {
    padding-left: 68px;
    margin-bottom: 64px;
    padding-top: 22px;
}
span.e {
    display: block;
}
span.line-color {
    border-bottom: 4px solid green;
}
.main-pag {
    width: 50%;
    
    float: left;
}
.main-pa {
    width: 50%;
   
    float: right;
}
img {
    margin-bottom: -15px;
    margin-left: 18px;
}
.bbbi {
    margin: 0px 67px;
}
.gggi {
    margin: 0px 67px;
}
.total-section {
    display: flex;
    margin-top: -20px;
}